html {
    line-height: 1.15;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
    text-decoration: underline;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;

    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;

}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    outline-offset: -2px;

}
::-webkit-file-upload-button {
    font: inherit;

}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
.slick-slider {
    box-sizing: border-box;
    display: block;

    position: relative;
    touch-action: pan-y;
    user-select: none;

}
.slick-list {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: hand;
    cursor: pointer;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translate3d(0, 0, 0);
}
.slick-track {
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
}
.slick-track:after,
.slick-track:before {
    content: '';
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    border: 1px solid transparent;
    display: block;
    height: auto;
}
.slick-arrow.slick-hidden {
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    background-color: #e7e7e7;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
h3.title {
    position: absolute;
    top: 30px;
    left: -15px;
    background-color: #87d818;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    /* margin: 10px 10px 50px -52px; */
    padding: 12px 30px 12px 50px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}
h3.title:after {
    border-color: #73bb11 #73bb11 transparent transparent;
    border-style: solid;
    border-width: 5px 6px;
    content: ' ';
    height: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0;
}
h4.title {
    border-bottom: 2px solid #87d818;
    color: #222222;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 2px;
    font-size: 1.5rem;
}
h5.title {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
}
.text {
    color: #666666;
    font-size: 16px;
    line-height: 22px;
}
.section {
    display: none;
    position: relative;
    box-sizing: border-box;
    width: calc(100vw - 370px);
    height: 100%;
    margin-left: 370px;
}
.section .container {
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: 25px;
}
.section.is-active {
    display: block;
    /* left: 0;
    top: 0;
    transition: all 2s; */
}
div::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
li::-moz-selection,
p::-moz-selection {
    background: #87d818;
    color: #ffffff;
}
div::selection,
h1::selection,
h2::selection,
h4::selection,
h5::selection,
li::selection,
p::selection {
    background: #87d818;
    color: #ffffff;
}
h3::-moz-selection {
    background: #222;
    color: #ffffff;
}
h3::selection {
    background: #222;
    color: #ffffff;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.header {
    background: #ffffff;
    box-shadow: -5px 0 13px 0 rgba(0,0,0,0.7);
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    width: 350px;
}
.header__photo {
    display: flex;
    display: -ms-flexbox;

    justify-content: center;
    padding-bottom: 15px;
    padding-top: 50px;
}
.header__photo img {
    border-radius: 50%;
    box-shadow: 0 0 4px 0 #000;
    box-sizing: border-box;
    display: block;
    max-height: 125px;
    max-width: 125px;
}
.header__name {
    color: #222222;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.header__developer {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
.header .menu__list-item {
    border-bottom: 1px solid #e4e4e4;
    border-right: 4px solid transparent;
    cursor: pointer;
    padding: 13px 0;
    transition: all 0.3s;
}
.header .menu__list-item:first-child {
    border-top: 1px solid #e4e4e4;
}
.header .menu__list-item.menu__list-item_active {
    background-color: #fcfcfc;
    border-right-color: #87d818;
    box-shadow: inset 0 0 1px 2px rgba(0,0,0,0.02);
}
.header .menu__list-item:hover {
    background-color: #fcfcfc;
    box-shadow: inset 0 0 1px 2px rgba(0,0,0,0.02);
}
.header .menu__list-item a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.header .social {
    display: flex;
    display: -ms-flexbox;

    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}
.header .social__link {
    align-items: center;
    background: #efefef;
    box-shadow: inset 0 0 1px 2px rgba(0,0,0,0.02);
    display: flex;
    display: -ms-flexbox;

    height: 35px;
    justify-content: center;
    margin-right: 10px;
    transition: all 0.3s;
    width: 35px;
}
.header .social__link i {
    color: #868686;
}
.header .social__link:hover {
    background: #87d818;
}
.header .social__link:hover i {
    color: #ffffff;
}
/* .home {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.home::before {
    background: url("../img/assets/bg-img/bg-home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    filter: grayscale(50%) brightness(20%) blur(1px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;    
    z-index: 1;
}
.home__title {
    font-size: 60px;
    margin-bottom: 50px;
}
.home .info {
    box-sizing: border-box;
    left: 0;
    margin: 0 auto;
    max-width: 80%;
    top: 0;
}
.home .info__block {
    align-items: center;
    display: grid;
    font-size: 14px;
    gap: 10px;
    grid-template-columns: 120px 1fr;
    margin-bottom: 20px;
}
.home .info__block:last-of-type {
    margin-bottom: 0;
}
.home .info__block-title {
    /* border-bottom: 3px solid #87d818; */
    font-weight: 500;

    min-width: 95%;
    padding-bottom: 3px;
}
.home .info__block-text a {
    line-height: 1.5;
    position: relative;
}
.home .info__block-text a:after {
    background-color: #87d818;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 0;
}
.home .info__block-text {
    font-size: 14px;
}
.home .info__block-text a:hover:after {
    width: 100%;
}
.about-me .container {
    background: #ffffff;
    box-sizing: border-box;
    padding: 130px 70px 50px 40px;
}
.about-me__profile-text {
    box-sizing: border-box;
    margin-bottom: 30px;
    max-width: 75%;
}
.about-me .cv {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    margin-top: 2rem;
}
.about-me .cv__content {
    box-sizing: border-box;
}
.about-me .cv__container {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.about-me .cv__year {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 10px 15px 0;
    padding: 4px 15px;
    position: relative;
}
.about-me .cv__block {
    position: relative;
    margin-bottom: 40px;
}
.about-me .cv__block-link {
    cursor: pointer;
    text-decoration: solid;
    display: inline-block;
    text-decoration: underline;
    position: relative;
    z-index: 100;
}
.about-me .cv__block-title {
    color: #222222;
    font-weight: 600;
    margin-bottom: 7px;
}
.about-me .cv__block-subtitle {
    color: #a5a5a5;
    font-size: 14px;
    margin-bottom: 12px;
    width: 75%;
}

.about-me .cv__link {
    display: inline-block;
    text-decoration: underline;
    transition: all 0.2s;
}
.about-me .cv__link:hover {
    color: #87d818;
}
.about-me .cv__link-print {
    display: none;
}
.about-me .skills {
    margin-bottom: 30px;
}
.about-me .skills .title {
    display: flex;
}
.about-me .skills__block {
    display: flex;
    display: -ms-flexbox;

    padding-left: 20px;
}
.about-me .skills__list {
    padding-left: 20px;
}
.about-me .skills__list-item {
    font-size: 13px;
    padding: 2px 0;
}
.about-me .skills .skill {
    margin-right: 50px;
}
.about-me .skills .skill:last-of-type {
    margin-right: 0;
}
.about-me .hobbies__list {
    padding-left: 40px;
}
.about-me .hobbies__list-item {
    font-size: 13px;
    padding: 2px 0;
}
.portfolio .container {
    background: #ffffff;
    box-sizing: border-box;
    padding: 130px 0;
    /* position: relative; */
}
.portfolio .tabs__nav {
    align-items: center;
    display: flex;
    display: -ms-flexbox;

    justify-content: center;
    margin-bottom: 50px;
}
.portfolio .tabs-nav__item {
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: #a7a7a7;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.portfolio .tabs-nav__item+.tabs-nav__item {
    margin-left: 20px;
}
.portfolio .tabs-nav__item.is-active,
.portfolio .tabs-nav__item:hover {
    border-color: #87d818;
    color: #000000;
}
.portfolio .tabs__content {
    position: relative;
}
.portfolio .tabs .tab {
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1) skew(0deg, 0deg);
    transition: all 1s;
    width: 100%;
}
/* .portfolio .tabs .tab.is-active {
    transform: scale(1) skew(0deg, 0deg);
    transition: all 1s;
} */
.portfolio__blocks {
    background: #ffffff;
    display: flex;
    display: -ms-flexbox;

    flex-wrap: wrap;
    padding: 0 40px 0 70px;
}
.portfolio__block {
    align-items: center;
    display: flex;
    display: -ms-flexbox;

    height: auto;
    justify-content: center;
    margin-bottom: 40px;
    margin-right: 4%;
    position: relative;
    transition: all 0.4s;
    width: 22%;
}
.portfolio__block:hover .portfolio__info::after,
.portfolio__block:hover .portfolio__info::before {
    transform: scale(1);
}
.portfolio__block:hover .portfolio__info-describe,
.portfolio__block:hover .portfolio__info-title,
.portfolio__block:hover .portfolio__site-link {
    transform: scale(1);
}
.portfolio__block:hover .portfolio__img {
    filter: sepia(0.5) saturate(0.5) brightness(30%);
    height: 100%;
}
.portfolio__block:nth-child(4n) {
    margin-right: 0;
}
.portfolio__link {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.portfolio__site-link {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 15px auto 0;
    padding: 8px 15px;
    text-transform: uppercase;
    transform: scale(0);
    transition: all 0.4s;
    z-index: 1;
}
.portfolio__site-link:hover {
    background: #ffffff;
    color: #000000;
}
.portfolio__img {
    display: block;
    height: auto;
    transition: all 0.4s;
    width: 100%;
}

.portfolio__info {
    cursor: pointer;
    display: flex;
    display: -ms-flexbox;

    flex-direction: column;
    left: 50%;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    width: 90%;
}
.portfolio__info::before {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0, 1);
    transition: all 0.4s;
}
.portfolio__info::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1, 0);
    transition: all 0.4s;
}
.portfolio__info-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    transform: scale(0);
    transition: all 0.4s;
}
.portfolio__info-describe {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    transform: scale(0);
    transition: all 0.4s;
}
.portfolio .modal-list-page {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1, 0);
    transition: all 0.4s;
    width: 100%;
    z-index: 100;
}
.portfolio .modal-list-page__block {
    background: #ffffff;
    height: 100%;
    overflow-y: scroll;
    padding: 20px 30px;
    width: 100%;
}
.portfolio .modal-list-page__block::-webkit-scrollbar {
    width: 0;
}
.portfolio .modal-list-page .close {
    align-items: center;
    cursor: pointer;
    display: flex;
    display: -ms-flexbox;

    height: 18px;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
}
.portfolio .modal-list-page .close span {
    background: #000;
    display: block;
    height: 2px;
    transform: rotate(45deg);
    width: 20px;
}
.portfolio .modal-list-page .close span::after {
    background: #000;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg);
    width: 20px;
}
.portfolio .modal-list-page .list-page__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.portfolio .modal-list-page .list-page__block {
    padding-left: 20px;
}
.portfolio .modal-list-page .list-page__link {
    font-size: 14px;
}
.portfolio .modal-list-page .list-page__item+.list-page__item {
    margin-top: 5px;
}
.portfolio .modal-list-page .list-page__item {
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: 0.3s;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}
.portfolio .modal-list-page .list-page__item:hover {
    border-color: #87d818;
}
.portfolio .modal-active {
    transform: scale(1);
}
@media screen and (max-width: 1650px) {
    .portfolio__block {
        margin-right: 5%;
        width: 30%;
    }
    .portfolio__block:nth-child(4n) {
        margin-right: 5%;
    }
    .portfolio__block:nth-child(3n) {
        margin-right: 0;
    }
}
@media screen and (max-width: 1500px) {
    .portfolio__info {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 1200px) {
    h5.title {
        line-height: 20px;
    }
    .home__title {
        font-size: 50px;
    }
    .about-me .container {
        padding-right: 40px;
    }
    .about-me__profile-text {
        max-width: 100%;
        width: 100%;
    }

    .about-me .skills__block {
        line-height: 16px;
    }
    .portfolio__block {
        margin-right: 10%;
        width: 45%;
    }
    .portfolio__block:nth-child(4n) {
        margin-right: 0;
    }
    .portfolio__block:nth-child(2n) {
        margin-right: 0;
    }
    .portfolio__block:nth-child(2n+1) {
        margin-right: 10%;
    }
    .portfolio .tabs-nav {
        padding: 0 40px 0 70px;
    }
    .portfolio .tabs-nav__item {
        padding: 10px;
    }
    .portfolio .tabs-nav__item+.tabs-nav__item {
        margin-left: 10px;
    }
}
@media screen and (max-width: 1024px) {

    .media-header {
        background: #ffffff;
        box-shadow: 0 0 2px rgba(0,0,0,0.4);
        height: 43px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .media-header__btn {
        height: auto;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 30px;
    }
    .media-header__btn span {
        background: #000;
        height: 3px;
        left: 0;
        position: absolute;
        top: 10px;
        transition: all 0.5s;
        width: 30px;
    }
    .media-header__btn span::after,
    .media-header__btn span::before {
        background: #000;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        transition: all 0.5s;
        width: 30px;
    }
    .media-header__btn span::after {
        top: -7px;
    }
    .media-header__btn span::before {
        top: 7px;
    }
    .media-header__btn_active span {
        transform: rotate(45deg);
    }
    .media-header__btn_active span::after {
        top: 0;
        transform: rotate(-90deg);
    }
    .media-header__btn_active span::before {
        top: 0;
    }
    .media-header_active {
        left: 0 !important;
    }
    .media-section_active {
        margin-left: 0;
        width: 100%;
    }
    .section {
        margin-left: 0;
        width: 100%;
    }
    .header {
        left: -350px;
        padding-top: 20px;
        transition: all 0.5s;
        z-index: 999;
    }
    .portfolio__blocks {
        padding-left: 40px;
        padding-right: 40px;
    }
    .portfolio .tabs .tab {
        transform: scale(0) skew(0deg, 0deg);
    }
    .portfolio .tabs .tab.is-active {
        transform: scale(1) skew(0deg, 0deg);
    }
    .portfolio__block {
        margin-right: 5%;
        width: 30%;
    }
    .portfolio__block:nth-child(2n) {
        margin-right: 5%;
    }
    .portfolio__block:nth-child(2n+1) {
        margin-right: 5%;
    }
    .portfolio__block:nth-child(3n) {
        margin-right: 0;
    }
}
@media screen and (max-width: 950px) {
    .portfolio__block {
        margin-right: 10%;
        width: 45%;
    }
    .portfolio__block:nth-child(2n) {
        margin-right: 0;
    }
    .portfolio__block:nth-child(2n+1) {
        margin-right: 10% !important;
    }
    .portfolio__block:nth-child(3n) {
        margin-right: 0;
    }
}
@media screen and (max-width: 768px) {
    .home__title {
        font-size: 44px;
    }
    .portfolio .tabs-nav__item {
        font-size: 12px;
    }
}
@media screen and (max-width: 690px) {
    .portfolio__info-title {
        font-size: 18px;
    }
    .portfolio__info-describe {
        font-size: 10px;
    }
    .portfolio__site-link {
        font-size: 10px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 600px) {
    .portfolio {
        top: -4000px;
    }
    .portfolio.is-active {
        top: 0;
    }
    .portfolio__blocks {
        justify-content: center;
    }
    .portfolio__block {
        margin-right: 0;
        width: 360px;
    }
    .portfolio__block:nth-child(2n) {
        margin-right: 0;
    }
    .portfolio__block:nth-child(2n+1) {
        margin-right: 0 !important;
    }
    .portfolio__block:nth-child(3n) {
        margin-right: 0;
    }
    .portfolio__info-title {
        font-size: 22px;
    }
    .portfolio__info-describe {
        font-size: 12px;
    }
    .portfolio__site-link {
        font-size: 12px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 550px) {
    .home__title {
        font-size: 38px;
    }
    .about-me .cv {
        flex-wrap: wrap;
    }
    .about-me .cv__content {
        width: 100%;
    }

    .about-me .skills__block {
        flex-wrap: wrap;
    }
    .about-me .skills__block .skill {
        margin-bottom: 25px;
    }
    .about-me .skills__block .skill:last-of-type {
        margin-bottom: 0;
    }
    .portfolio .tabs-nav {
        padding: 0 20px;
    }
}
@media screen and (max-width: 475px) {
    .home__title {
        font-size: 30px;
    }
    .portfolio .tabs__nav {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 375px) {
    .header {
        left: -320px;
        width: 320px;
    }
    .home__title {
        font-size: 26px;
    }
    .about-me .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .portfolio .tabs__nav {
        flex-wrap: wrap;
        margin-bottom: 25px;
        margin-top: 5px;
    }
    .portfolio__info-title {
        font-size: 18px;
    }
    .portfolio__info-describe {
        font-size: 10px;
    }
    .portfolio__site-link {
        margin-top: 10px;
    }
    .portfolio__info {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
/* @media print {
    *,
    *:after,
    *:before {
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }
    .section {
        height: auto;
        margin-left: 0;
        position: unset;
        width: 100%;
    }
    .section .container {
        min-height: unset;
    }
    h3.title {
        font-weight: 700;
        margin-bottom: 25px;
    }
    .header {
        background: #ffffff;
        box-sizing: border-box;
        height: auto;
        margin-bottom: 40px;
        margin-top: 20px;
        position: unset;
        width: 100%;
    }
    .header .container {
        align-items: center;
        display: flex;
        display: -ms-flexbox;

        justify-content: space-between;
    }
    .header__for-print {
        align-items: center;
        display: flex;
        display: -ms-flexbox;
    }
    .header .menu {
        display: none;
    }
    .header__info-text-block {
        align-items: flex-start;
        display: flex;
        display: -ms-flexbox;

        flex-direction: column;
        justify-content: flex-start;
        margin-left: 40px;
    }
    .header__developer {
        font-size: 20px;
        margin-bottom: 0 !important;
    }
    .header__name {
        font-size: 26px;
    }
    .header_photo {
        padding: 0;
    }
    .header .social {
        align-items: flex-start;
        display: flex;
        display: -ms-flexbox;

        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0 !important;
    }
    .header .social__link {
        font-size: 14px;
        height: unset;
        line-height: 26px;
        width: unset;
    }
    .header .social i {
        display: none;
    }
    .header .social .print,
    .header .social .social__cv {
        display: none;
    }
    .header .social .social__whatsapp::after {
        content: 'WhatsApp: +49 175 380 60 14';
    }
    .header .social .social__telegramm::after {
        content: 'Telegram: @yev_st';
    }
    .header .social .social__google-plus::after {
        content: 'Gmail: stetsiurayevheniia@gmail.com';
    }
    .header .social .social__github::after {
        content: 'GitHub: github.com/Cerasus04';
    }
    .home {
        width: 100%;
    }
    .home .container {
        align-items: flex-start;
        box-sizing: border-box;
        justify-content: flex-start;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
    }
    .home::before {
        background: unset;
        position: unset;
    }
    .home__title {
        display: none;
    }
    .home .info {
        margin: 0 !important;
    }
    .home .info__block {
        margin-bottom: 5px;
    }
    .about-me .container {
        padding-top: 10px;
    }
    .about-me .cv__year {
        border-bottom: 2px solid #000;
        font-weight: 700;
        padding-left: 0;
        padding-right: 0;
    }
    .about-me .cv__link-print {
        display: block;
    }
    .about-me .cv__link {
        text-decoration: none;
    }
    .about-me .text {
        line-height: 18px;
    }
    .portfolio {
        display: none;
    }
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.accordion__tab {
    position: relative;
}

.accordion__button {
    display: none;
    padding: 50px 47px 50px 0;
    bottom: 0;
}
.accordion--js .accordion__tab:not(.accordion__tab--open) {
    padding-bottom: 48px;
}
@media (max-width: 767px) {
    .accordion--js .accordion__tab:not(.accordion__tab--open) {
        padding-bottom: 20px;
    }
}

.accordion--js .accordion__button {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media (max-width: 1023px) {
    .accordion--js .accordion__button {
        padding-right: 52px;
    }
}
@media (max-width: 767px) {
    .accordion--js .accordion__button {
        /* padding-top: 25px;
		padding-right: 25px;  */
        padding-top: 75px;
        padding-right: 0;
    }
}

.accordion--js .skills-content {
    display: none;
}

.accordion__tab--open .skills-content {
    display: block;
    margin-top: 20px;
}

.accordion__icon--close {
    display: none;
}

.accordion__tab--open .accordion__icon--open {
    display: none;
}

.accordion__tab--open .accordion__icon--close {
    display: block;
}

.accordion__button svg {
    color: black;
    pointer-events: none;
    fill: transparent;
}
@media (max-width: 1023px) {
    .accordion__button svg {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@media (max-width: 767px) {
    .accordion__button svg {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}
